[2012-10-03 19:48] joshuajabbour opened #5 "Use file checksum for cacheBuster"
It might be nice to switch to using a generated hash for the cacheBuster, so that the cacheBuster is only updated when the actual file contents change, not every time bless is run.

A small CSS change could theoretically result in identical blessed files, and it'd be nice to not require users to re-download them.

[2013-11-15 22:06] paulyoung opened #27 "Option to return the selector count without any processing"
Requested via Twitter.

[2014-05-28 04:20] dotherightthing opened #33 "Sourcemap support"
I'm running `grunt-bless` on my CSS after it has been run through `grunt-contrib-compass`.

`grunt-bless` is a wrapper for bless.js, while `grunt-contrib-compass` is a wrapper for Compass.

When `grunt-contrib-compass` is run with the latest version of Compass (`1.0.0.alpha.19`), with:

    "options": {
        "sourcemap": true
    }

 .. a sourcemap is generated for each CSS file that is generat

[2014-09-05 22:52] sushantanand opened #41 "IE9 file size limit"
Apparently, IE9 has a file size limit of ~280kb as well. BlessCSS wouldn't help in addressing that, right? Or since the files are broken up and @imported, the file size limit is no longer an issue?

[2014-09-25 15:24] mtscout6 opened #43 "Consider releasing a beta for 4.0"
I have a pull request from @aabenoja at DarthFubuMVC/mimosa-bless#1 which is targeting your v4 release. I am uncomfortable with taking on a git repo as the version which he has done. Although, I respect that you don't feel it's ready for prime time.

Would you be open to pushing a [beta](https://www.npmjs.org/doc/misc/semver.html#prerelease-tags) which we could target with our mimosa-bless plugin?

[2014-10-22 20:57] michaek opened #46 "What's the best way to run tests?"
Currently I get a single error:

    $ node test/parser-test.js
    ✗ Errored » 1 errored

[2014-10-23 13:00] paulyoung opened #48 "Continuous Integration"
This is easy but I'd like to handle it personally.

[2014-10-25 15:13] paulyoung opened #50 "Add CONTRIBUTING.md"

[2015-02-24 10:28] martinmethod commented on #33
Hey Paul,

Do you have any news about how version 4.0 of bless.js is going on?

I also have the issue with the stripped comment for my source maps.

Martin

[2015-03-05 18:03] paulyoung commented on #33
Hi @martinmethod!

I just changed jobs :computer:, moved :house:, and had another baby :baby:, so things have been on hold for a while.

Planning on giving this some attention soon so that it can be in a better place to accept contributions.

[2015-03-05 18:29] paulyoung opened #56 "Custom filenames"
Basically, provide support for something like #54.

While this should be considered for v4, it's not necessarily going to be part of the initial v4 release.

[2015-03-05 18:33] paulyoung commented on #46
No idea why this started failing, but going to close since it's v3 related.

Thanks for reporting it.

[2015-03-05 18:33] #46 closed

[2015-03-05 18:38] paulyoung opened #57 "Remove cache buster"
***

Original discussion here: https://github.com/paulyoung/bless.js/pull/32#issuecomment-62604442

There have been a lot of pull requests/issues about this, and people have opinions. I'd like to track this here.

[2015-03-05 18:38] paulyoung commented on #5
Closing since this is being tracked in #57.

[2015-03-05 18:38] #5 closed

[2015-04-26 08:34] paulyoung commented on #56
Added in c96626b7cb28e923148ccf5b4e16e79b029b9c40.

[2015-04-26 08:34] #56 closed

[2015-04-26 08:39] #41 closed

[2015-04-26 08:48] paulyoung commented on #48
Taken care of in 7dd01e9c4a0df66b878463ab5ee6a6ec066be09c and 15e6c8a692282736feff2d1b2bc30c9ad12e020f.

[2015-04-26 08:48] #48 closed

[2015-04-26 21:51] paulyoung opened #59 "Review CLI options"
See if any are missing on the v4 branch that should be part of it.

[2015-04-28 00:23] adam-lynch commented on #33
:+1: https://github.com/adam-lynch/gulp-bless/issues/14

For me it would be best if bless returned the computed sourcemap programmatically. If I have the following code (using version 3 just for this example FYI):

[code]

Then each `blessedFiles` should have a `map` /  `sourcemap` property as well as `content`, etc. This would allow for [gulp sourcemap support](https://www.npmjs.com/package/gulp-

[2015-07-17 14:44] paulyoung opened #61 "Fallout from transfer to org and repo rename"
Off the top of my head the following need to be addressed:
- [x] `README.md`
- [x] `package.json`
- [x] give contributors ability to publish to npm
- [x] [blesscss.com](http://blesscss.com/)

/cc @BlessCSS/contributors

[2015-07-17 14:54] mtscout6 opened #62 "Consider using newer ES6 instead of CoffeeScript"
@aabenoja and I forked bless earlier this year and converted the project to ES6 using [babel](http://babeljs.io/) as the transformer. Are there any objections to bringing in the ES6 changes from [css-band-aid](https://github.com/css-band-aid/css-band-aid).

A few benefits to this is that that codebase has the following already:

- Source Map Support
- Cleaner codebase using ES6 generators
- Some a

[2015-07-17 15:02] mtscout6 commented on #61
I can't do anything about travis as I'm not an org owner, so you'll need to take care of that one. I already sent a request from approval from the travis UI.

[2015-07-17 15:03] mtscout6 commented on #61
I don't see any concerns in the Readme at the moment, was there something specific you were concerned about?

[2015-07-17 15:03] paulyoung commented on #61
@mtscout6 pointed out that contributors need to be given access to publish to npm

- [ ] npm

[2015-07-17 15:03] mtscout6 commented on #61
Looks like the package.json is ok: https://github.com/BlessCSS/Bless/blob/4.0.0-development/package.json#L2

[2015-07-17 15:07] paulyoung commented on #61
@mtscout6 I was referring to the old URLs in there

[2015-07-17 15:08] paulyoung commented on #61
@mtscout6 the README has the old travis badge so we'd need to update that.

[2015-07-17 15:15] mtscout6 commented on #61
Need to add a blesscss.github.io repo to the org for the docs, then change the domain to point at the new location.

Or add a permanent from blesscss.com redirect to http://blesscss.github.io and forego the domain?

[2015-07-17 15:30] paulyoung commented on #61
I believe everything is done for the website. I updated the DNS but it's probably still propagating.

I deleted the gh-pages branch since it's now in it's own repo and at https://blesscss.github.io

[2015-07-17 17:53] mtscout6 opened #64 "Bring back pluggable reporters"
From https://github.com/BlessCSS/bless/pull/63#issuecomment-122351179

css-band-aid did not account for customizable reporters. It's a great idea and makes testing easier, though it will need some more thought since there's also an additional command to count selectors now. Both the chunker and counter could use custom reports.

[2015-07-17 17:58] aabenoja opened #65 "(Band-aid Regression) Importer"
#63

One thing we forgot to do in `css-band-aid` is apply import statements in the chunked css. In addition to re-implementing this we should provide an option to prevent import statements.

[2015-07-17 21:19] paulyoung commented on #61
The remaining tasks were addressed in 38e282b6e6f7c20c8bbab6d31dc689000e3d9301.

[2015-07-17 21:39] mtscout6 commented on #61
Awesome, any reason to keep this issue open then?

[2015-07-17 21:40] #61 closed

[2015-07-17 21:42] mtscout6 opened #66 "Write unit sized tests around chunk instead of relying on the larger integration tests."
#63

[2015-07-17 21:43] mtscout6 opened #67 "Write unit tests for the count module"
#63

[2015-08-05 23:52] tunnckoCore opened #70 "expose public JS API?!"
with just `chunk` and `chunkFile` ? :D

[2015-08-06 03:48] aabenoja commented on #70
What is it exactly you are asking for? `chunk` and `chunkfile` are both being exported.

[2015-08-06 05:13] tunnckoCore commented on #70
Nope. It's exported `Parser` thing. In which have `.parse()` method with looks like `.chunk()` (and maybe it is) but it is async (with callback), so it is not "pure` `.chunk()` method in src. Also, there we dont have `.chunkFile`

[2015-08-06 15:10] AaronAsAChimp commented on #70
The methods `chunk` and `chunkFile` are from the 4.0 alpha. Doing an `npm install bless` will give you the stable version (3.0.3) that uses `parse`. Can you verify the version you've installed by running `npm list`?

[2015-08-06 15:35] aabenoja commented on #70
@AaronAsAChimp is correct. You're certainly on the older v3 api (if not older). If you want access to `v4.0.0-alpha.0` you would need to install it explicitly with `npm install bless@4.0.0-alpha.0`.

[2015-08-06 20:24] tunnckoCore commented on #70
Oh yea, didn't notice the versions, i'll try.

[2015-08-06 20:38] mtscout6 commented on #70
@tunnckoCore If you don't mind my asking are you building out a plugin for another build tool?

[2015-08-06 21:12] tunnckoCore commented on #70
Yea. Im part of the @jstransformers organization.
https://github.com/jstransformers/jstransformer-bless

Thanks! That works.

[2015-08-06 21:12] #70 closed

[2015-08-12 20:04] mtscout6 commented on #50
Completed by #69

[2015-08-12 20:04] #50 closed

[2015-08-12 20:06] mtscout6 commented on #27
Complete with #63

[2015-08-12 20:06] #27 closed

[2015-08-20 14:21] scf2k opened #73 "4.0.0-alpha.0 crashes on node 0.10"
blessc crashes on node 0.10 with error:
[code]

It will work if there is some of the listed libraries is installed in node scope.

[2015-08-20 14:40] mtscout6 commented on #73
PR #74 should fix this.

[2015-08-20 16:49] mtscout6 commented on #73
Looks like our test runner was actually failing those tests but the error wasn't getting surfaced correctly fooling the CI into thinking that it passed.

Note the 0 exit code from Travis though you can see red :cry:
![Uploading Screen Shot 2015-08-20 at 10.45.02 AM.png…]()

I was hoping this would be a quick fix, but that does not appear to be the case. Thankfully the code coverage changes we made

[2015-08-23 21:09] paulyoung commented on #62
I think this can be closed.

[2015-08-23 21:10] paulyoung commented on #43
Bump :fist:

[2015-08-24 02:05] aabenoja commented on #62
I don't see any coffeescript files, so...

[2015-08-24 02:05] #62 closed

[2015-08-26 14:09] mtscout6 commented on #43
The alpha is up on npm so I think we are good to close this.

[2015-08-26 14:09] #43 closed

[2015-08-26 21:58] paulyoung commented on #33
I think this issue can now be closed since sourcemaps were added as part of #63.

[2015-08-26 22:18] mtscout6 commented on #33
Agreed!

[2015-09-17 11:31] mplatt opened #78 "blessc: input file not a .css file"
I can't count CSS selectors using ```blessc count``` with blessc 3.0.3 with node 0.10.40 on Ubuntu 14.04.3 LTS:

 1. ```echo 'body { color: green; }' >foo.css```
 2. ```blessc count foo.css```
 3. blessc: input file not a .css file

[2015-09-17 14:57] mtscout6 commented on #78
The `blessc count` command is new to v4, which is currently just an alpha release on npm. Run `npm install bless@4.0.0-alpha.0` and then give it a try.

[2015-09-17 15:14] mplatt commented on #78
I see, didn't know that. Thanks for clarification.

[2015-09-17 15:14] #78 closed

[2015-09-25 11:11] eko opened #79 "Fix for import order on 3.0.x branches"
Hi,

We are currently using the latest version of `grunt-agora-bless` (0.2.2) which is using this library latest version as a dependency (`agora-bless` : 3.0.3).

We are splitting a CSS file into multiple parts in order to by-pass the IE limitation.

Issue is that our `style.min.css` file is written with the following (reversed / incorrect) import order:

[code]

This should be:

[code]

This is d

[2015-09-25 14:52] paulyoung commented on #79
Hi @eko!

I created a branch called [3.x](https://github.com/BlessCSS/bless/tree/3.x) based off of the commit for [v3.0.3](https://github.com/BlessCSS/bless/releases/tag/v3.0.3)

[2015-09-25 19:53] mtscout6 opened #81 "Fix exception thrown when running blessc --help"
The help cli tools is currently throwing an error.

[code]

[2015-09-25 20:21] aabenoja commented on #64
@paulyoung How important is it to get this into v4?

[2015-09-25 20:47] paulyoung commented on #64
I think it'd be a shame for it not to make it in since it was previously a part of the `4.0` branch, and the additional test coverage that came when I did my original implementation added some confidence.

Provided that bringing it back won't introduce any breaking changes I could be persuaded to shelve it. I'd love to see it in something like `4.1` though.

[2015-09-25 20:51] mtscout6 commented on #64
I think 4.1 sounds reasonable for this. We could easily implement this in a backwards compatible way. I'm going to move this to the 4.1 milestone.

[2015-09-25 20:54] mtscout6 commented on #59
For reference the old options are:

[code]

The current state of v4 is:

[code]

Since the goal of this tool is solely to deal with selector counts I don't see why we should need the `compress`, `cleanup`, of `cache-buster` options. That sounds like the responsibility of a higher level tool.

[2015-09-25 20:55] mtscout6 commented on #57
The current v4 doesn't support this anymore.

[2015-09-25 20:55] #57 closed

[2015-10-01 08:59] TobiasEinarsson opened #83 "Add an option to set a custom selector count limit"
I recently had some CSS parsing issues when my selector count reached just above 8190 and a third file was generated by Bless. In Google Chrome the selectors from the last file (which is the one with the imports in it) sometimes loaded before the others because it was very small in comparison (~20 selectors). This is most probably because of a bug in the Google Chrome CSS import code, but it would

[2015-10-01 15:39] mtscout6 commented on #83
That should be an easy change, and we take pull requests. If you have specific questions with the implementation details feel free to ask.

[2015-10-12 10:02] inukshuk commented on #33
Just a quick question, it looks like it isn't possible to pass-in source maps, is that correct? In other words, if I already generate source maps in node sass, modify them in autoprefixer and then want to run bless on the result -- this is a scenario that is not supported yet, or is it? Thanks a lot for your work!

[2015-10-12 14:12] mtscout6 commented on #33
@inukshuk You're right, though it wouldn't take much to change it to do so. We parse out the AST at https://github.com/BlessCSS/bless/blob/master/src/chunk.js#L40. Basically we just need to decouple the AST parsing from the chunking which is a move in the right direction. I'm too busy to tackle it this week, but would be open to a pull request that addresses it.

I'll re-open this issue and change

[2015-10-12 14:16] inukshuk commented on #33
@mtscout6 thanks for the confirmation. Not much time this week either, but I'll see if I can take a stab at it,

[2015-10-13 21:20] JoshuaSoileau opened #84 "Nested Media Queries Compile Incorrectly"
Hey guys, I ran into an edge case where the compiler fails.

If we have  nested media queries, the compiler deletes one of them.

input.css:

    @media only screen and (max-width: 599px) {
        .cart-table colgroup, .cart-table thead {
            display: none;
        }

        @media only screen and (max-width: 399px) {
            .cart-table colgroup, .cart-table thead {

[2015-10-13 21:55] paulyoung commented on #84
@JoshuaSoileau could you confirm which version you're using?

[2015-10-14 12:49] JoshuaSoileau commented on #84
@paulyoung Sure, I'm using `blessc 3.0.3`

[2015-10-14 14:22] aabenoja commented on #84
@JoshuaSoileau Try using our `v4.0.0-alpha.0` and see if that works

[2015-11-18 18:49] benlwilliams opened #86 "@charset needed on each file"
When bless splits up the file, the @charset does not get duplicated on the new file.  This can be problematic when used in an HTML page that does not have the same character encoding.  I can fix it by manually adding it, but it messes up my automation scripts (using gulp-bless).  Any suggested solution for adding @charset at the beginning of each split file?

[2015-11-18 20:28] shellscape opened #87 "Project Status"
Can one or many of the contributors comment on the current state of the project? Both the master and development branches haven't seen commits in quite some time, and with many open issues and open pull requests, we're wondering if the project has been abandoned or is stale for lack or time, or in favor of a better component.

[2015-11-19 12:03] paulyoung commented on #86
@benlwilliams Thanks for reporting this. It does seem like something that should be supported.

I'm curious if you ran into #72 along the way.

[2015-11-19 12:07] paulyoung commented on #84
@JoshuaSoileau I'm going to close this one but please let us know if you had any issues with v4.

[2015-11-19 12:07] #84 closed

[2015-11-19 12:10] paulyoung commented on #79
Based on #80 I'm not entirely sure that there's an issue here. @eko would you agree?

[2015-11-19 12:15] paulyoung commented on #87
Hi @shellscape. Thanks for your interest.

I personally wouldn't even use the word "stale". @mtscout6 and @aabenoja did a great job of cutting a [v4 alpha](https://github.com/BlessCSS/bless/releases/tag/v4.0.0-alpha.0) and have been addressing issues as time permits.

Let us know if you have any more questions!

[2015-11-19 12:17] eko commented on #79
@paulyoung, I think you're right, no issue in here, we can close.

[2015-11-19 12:17] #79 closed

[2015-11-19 12:44] paulyoung commented on #79
@eko appreciate you looking into it.

[2015-11-19 12:55] benlwilliams commented on #86
I have not run into issue #72. In fact I verified that the "blessed" file did indeed have the original @charset "UTF-8" at the beginning of the file and has no issues from what I see.

[2015-11-19 16:08] shellscape commented on #87
Thanks for the follow ups.

[2015-12-31 11:03] cyberixae opened #88 "Cleanup fails when cache buster is enabled"
BlessCSS version:
[code]

Cleanup works (no cache buster):
[code]

Cleanup fails:
[code]

[2015-12-31 18:49] paulyoung commented on #88
Hi @cyberixae, thanks for reporting this.

Cache buster was removed in v4 for a couple of reasons. I think this is tracked by #57.

The recommendation moving forward is to use a dedicated tool for cache-busting, in conjunction with bless. Is that an option for you?

I'm not doing this personally so can't recommend any particular tool or setup, but #32 might be of some help there.

[2016-01-01 15:04] cyberixae commented on #88
I don't need the cache buster. I just noticed this bug while I was debugging another problem. See https://github.com/BlessCSS/gulp-bless/issues/20 for details.

[2016-01-05 05:19] shannonhochkins commented on #41
@paulyoung, I'm not trying to have a sook, however the blesscss.com website states under 'what is it?'
"Bless provides an elegant solution to a lesser-known bug in Internet Explorer which causes CSS to be completely ignored."

This is exactly what happens here, css is completely ignored after the 288kb limit, I think this would be a very nice feature to add into it.

[2016-01-05 05:50] paulyoung commented on #41
I'm open to hearing what @BlessCSS/contributors think.

[2016-01-05 18:29] aabenoja commented on #41
Assuming that your css file is under the selector limit, if after minification the file size is still greater than 280kb I'd be worried about other things. I feel the file size is too arbitrary a metric to manipulate, as opposed to selector count. A better idea would be an option to set the selector limit for the build.

[2016-01-05 22:33] shannonhochkins commented on #41
@aabenoja I did actually go into bless and manually lower the limit and that did work, it would seem that if you have longer rules/selector names, this can blow out the file size dramatically, being able to manually specify a selector limit would help fix this problem as a hack though.

[2016-01-07 17:57] aabenoja commented on #41
And how exactly is being able to specify a specific selector limit a hack?

[2016-01-07 18:00] mtscout6 commented on #41
If he's using 3.x version it would be a hack. If you're using the newer alpha release that is a parameter that you can provide.

[2016-01-07 18:01] mtscout6 commented on #41
Wait never mind, I thought we made that configurable, but doesn't look like it is: https://github.com/BlessCSS/bless/blob/master/src/chunk.js#L26

[2016-01-07 18:02] aabenoja commented on #41
Can be easily pull requested though

[2016-01-22 12:36] shannonhochkins commented on #41
I wouldn't mind that feature, basically it seems that even though we fall within the rules of the bless system, if the selector names are long, it will blow out the file size, so optionally changing this limit would be great!

[2016-02-17 22:00] paulyoung opened #89 "v4.0.0 release / publish to npm"
This has been mentioned a couple of times but I wanted to check if there were any issues that should be addressed first.

cc @mtscout6 @aabenoja

[2016-02-17 23:12] mtscout6 commented on #89
I don't see any concerns with getting it out.

[2016-02-18 23:45] aabenoja commented on #89
Make it so

[2016-02-22 20:58] paulyoung commented on #89
Would either of you like to do the honors?

I don't mind but I'm not up to speed on any release process you may have been following.

[2016-02-22 21:12] mtscout6 commented on #89
I'll do it real quick. It's just `npm version major` to change the version number, then `npm publish` and `git push && git push --tags` to keep the public repo up to date.

[2016-02-22 21:14] mtscout6 commented on #89
It is done.

[2016-02-22 21:14] #89 closed

[2016-02-22 22:25] paulyoung commented on #89
@mtscout6 thanks to you and @aabenoja for all of your hard work!

[2016-02-23 02:57] adam-lynch opened #90 "Small file is unexpectedly modified"
I'm working on https://github.com/BlessCSS/gulp-bless/issues/15 and I've noticed the following:

Input:

[code]

Output:

[code]

Is that correct?

[2016-02-23 15:32] mtscout6 commented on #90
We are breaking out the source to an AST, splitting up that tree then doing general AST back to string representations. I'm sure there's got to be a way to retain that, but I'm not familiar with how at the moment.

[2016-02-23 20:58] hostep opened #91 "bless 4.0.0 generates empty files"
Hi guys

Just testing out the new version of Bless, which looks awesome.
Unfortunately I can't get it to work, it generates the splitted files, but the files are empty.

As a test I download bootstrap 3.3.6 and duplicated the content to get to enough selectors.
But we also have it for other css files, bootstrap was just used as an example here:

[code]

You can see the `big-bootstrap.#.css` files

[2016-02-23 21:55] yvanavermaet opened #92 "Mediaquery and maven variable"
Hi

We've encountered a small issue with our current set-up.

- We use Akamai to cache our images
- Some HTML-elements have a background-image
- If we update these images (in our /img-folder), we also need to update a fingerprint (parameter 'c' in the examples below), so that these new images are picked up by Akamai (otherwise it'll return the old cached version)
- The fingerprint is automatically

[2016-02-23 22:18] hostep commented on #91
A quick update, I just tested this with version 4.0.0-alpha.0, and that works, so something must have gone wrong between that version and the "stable" version ;)

[code]

[2016-02-23 22:29] paulyoung commented on #91
Strange, here's the diff: https://github.com/BlessCSS/bless/compare/v4.0.0-alpha.1...v4.0.0

[2016-02-23 22:46] hostep commented on #91
Nope, here is the diff: https://github.com/BlessCSS/bless/compare/v4.0.0-alpha.0...v4.0.0 ;)

I can't install 'alpha.1', only 'alpha.0' since it wasn't published on npm.

[2016-02-23 22:52] aabenoja commented on #92
[code]
1. This is a known limitation of bless v3.
2. Bless is not a preprocessor. Your media query example is not valid css. Feeding such into v4 will the parser to throw on your media query. [Here's a fiddle](https://jsfiddle.net/g15qjdak/1/).

[2016-02-24 12:21] Dragod opened #93 ".TypeError: Cannot read property 'reduce' of undefined"
While running blessc count mycss.css or blessc chunk mycss.css i got this error:

.TypeError: Cannot read property 'reduce' of undefined

Node 4.1.1
Npm 3.3.0
Blessc 4.0.0
Win 8.1

[2016-02-24 17:56] AaronAsAChimp commented on #93
Thanks for the issue. Can you please provide a minimal example that reproduces this issue? A similar issue was posted in grunt-bless regarding the "@charset" rule.

[2016-02-24 18:40] yvanavermaet commented on #92
@aabenoja I should have stated that my code example was written in scss, my bad. A good css example should have been
[code]

Aha, it's a limitation of v3. Will it be possible in v4 of bless?

[2016-02-24 20:50] aabenoja commented on #92
Correct.

[2016-02-25 14:09] fk commented on #93
+1 – running into the same issue in a project I just took over.

Using Node v5.5.0, NPM v2.7.4 and BlessCSS/blessc v4.0.0, a stylesheet containing only `@charset "UTF-8";` yields the described error message when I do a `blessc count test.css`.

[2016-02-27 01:05] adam-lynch commented on #90
No problem :+1:

[2016-02-28 00:14] adam-lynch commented on #87
I'll close this as 4.0.0 has been released.

[2016-02-28 00:14] #87 closed

[2016-02-28 12:26] hostep commented on #91
Am I the only one who has this problem? Can someone confirm if it actually works with version 4.0.0 on their system?

[2016-02-29 02:59] aabenoja commented on #91
Not just you. I'll look into it when I can spare the time.

[2016-02-29 17:37] BrandonNoad commented on #93
As mentioned in BlessCSS/gulp-bless#15, I ran into this too.

The following css rule when run through bless seems to cause the error:

[code]

https://www.w3.org/TR/css3-page/#page-box-page-rule

[2016-02-29 23:44] pankajpatel commented on #83
Hello, I would like to help in this enhancement. Though I am facing following error when I fire up `npm test` command

[code]

[2016-03-01 22:29] philipjfulcher commented on #93
I've also run into this issue recently using grunt-bless. We compile our SCSS along with the Foundation framework. This CSS line is where Bless fails:
[code]
Commenting out that SCSS where that's generated allows things to progress.

My stack trace from when it fails:

[code]

Node 5.5.0
Npm 3.3.12
Bless 4.0.0

[2016-03-04 10:56] johnsardine commented on #93
Hi, im also having the same issue, but when using with grunt. For some reason i cant install this standalone. Does anyone have a solution to the reduce issue? Thank you

[2016-03-04 14:31] dailyraisin commented on #93
+1 I see this too using the cli version.

[2016-03-04 20:08] luke3butler commented on #93
I installed 3.0.3 to fix this issue in the meantime.

`npm install -g bless@3.0.3`

I was also getting the following error:

[code]

[2016-03-09 10:38] petetrickey commented on #73
Following the update of 4.0.0 to release, this is now occuring for us. The error occurs when running any bless function. E.g. blessc -v

<img width="1151" alt="screen shot 2016-03-09 at 10 35 38" src="https://cloud.githubusercontent.com/assets/7979745/13632680/d2cf7e48-e5e2-11e5-936d-21e81a277788.png">

When we roll back to 3.0.3 the error is no longer present.

[2016-03-09 11:55] devotox commented on #93
Is there any fix or work around as of yet?

[2016-03-10 20:34] paulyoung commented on #83
Possibly somehow related to #95.

[2016-03-11 05:26] mtscout6 commented on #93
I'm hoping that #96 will help with this, but I can't guarantee it. A number of the dependencies were out of date causing issues. If you can try it against the changes there and let us know if that helps that would be great. Otherwise we need to get a PR up with a failing test case for this scenario.

[2016-03-11 05:28] mtscout6 commented on #73
I'm thinking Bless 4 will need to be on Node 4.0 and later. See #96.

[2016-03-11 05:29] mtscout6 commented on #91
There was an update to fs-promise that seems to have fix a number of file parsing issues. Let's see if #96 fixes this. That along with an update to Node >=4.0.

[2016-03-11 14:13] anthony-butcher commented on #93
I'm just using 0.2.0 for now to get around this.

[2016-03-16 01:39] yanyu0517 opened #97 "Can I bless the css with regular expression file name?"
Can I bless the css with  regular expression file name?

[2016-03-17 22:08] paulyoung commented on #97
I believe [grunt-bless](https://github.com/BlessCSS/grunt-bless) and [gulp-bless](https://github.com/BlessCSS/gulp-bless) may allow you to do this.

You could also probably use globs on the command line but it's not something I've done myself.

For example, `cat *.md` will run `cat` on any matching files.

[2016-03-17 22:19] paulyoung commented on #93
@BlessCSS/contributors I've added fixtures to a branch called `page` which demonstrate this error.

[2016-03-18 01:28] yanyu0517 commented on #97
I got it，Thank you

[2016-03-18 01:28] #97 closed

[2016-03-22 09:02] joaquin-corchero commented on #93
Good morning,

I have been checking the package and it seems like there is an issue on the countRules(rules) function. When it tries to read the rules for @page, the rules are null and it breaks.

By modifying the countRules(rules) on the count.js (on the transformed version) method to the following:

function countRules(rules) {
     if(!rules){
         return 0;
     }
    return rules.reduce(f

[2016-03-23 16:00] damienleroux commented on #93
Is there any reason why "rules" must be existing? I made the modification from @joaquin-corchero  and it resolve my problem. But not knowing well Bless process, I wonder...

[2016-03-23 16:42] mtscout6 commented on #93
The bigger question is whether the @page rule counts against the selector limit for IE <= IE8. The real fix would actually be in the [switch](https://github.com/BlessCSS/bless/blob/master/src/count.js#L13-L25) we use to determine how to count the selectors based on the AST.

[2016-03-24 08:08] damienleroux commented on #93
Ok I see, do you plan to complete the switch or do you prefer I fork the repo?

[2016-03-24 14:56] mtscout6 commented on #93
We'd be open to a pull request for a fix.

[2016-03-28 16:13] Dariia commented on #93
@joaquin-corchero tried to use your method in count.js, the error disappeared. It creates files. But they are empty.

[2016-03-29 10:55] joaquin-corchero commented on #93
@Dariia what we ended up doing was removing any instances of '@page' from the source files, that fixed the issue.

[2016-03-29 11:53] MobiusHorizons opened #98 "Significant Performance decrease between 3.0.3 and 4.0.0"
I Manage a gulp build process that runs sass through bless.
The build process was taking ~7 seconds using gulp-bless v3.0.1 and bless 3.0.3.
I upgraded today to gulp-bless 3.10 which includes bless 4.0.0, and build times went up from ~7s to 93s.

Obviously this is completely unacceptable.

I suppose the problem could lie with gulp-bless, but i don't know how to test that.

[2016-03-31 07:31] pankajpatel commented on #83
Hello,
I was looking into error, when I updated the eslint and babel-eslint, it started to work fine.
`npm install eslint@2.x babel-eslint@6 --save-dev`

Then in code coverage it showed error of promise undefined. So I installed promise package extraneously by
`npm install promise`
and referenced in every file where it threw error by adding
`import Promise from 'promise'`

And many errors were res

[2016-03-31 14:04] mtscout6 commented on #83
`Promise` should come from Babel and the Babel-Runtime. There's no need to add another dependency. You will need to "compile" the JS through Babel for things to work, especially for older versions of node.

[2016-03-31 14:55] pankajpatel commented on #83
Well running eslint alone via `eslint ./` threw following errors:
`/Library/WebServer/Documents/pankaj/github/bless/src/cli.js
  18:12  warning  'Promise' is not defined  no-undef

/Library/WebServer/Documents/pankaj/github/bless/src/commands/chunk.js
  27:14  warning  'Promise' is not defined  no-undef
  43:16  warning  'Promise' is not defined  no-undef

/Library/WebServer/Documents/pankaj/githu

[2016-03-31 20:31] yvanavermaet commented on #93
Also encounter this problem with @charset. Removing that fixes the issue. Any ETA on a fix?

[2016-04-04 10:12] morph3ux commented on #93
I am having the same issue. I have to mention that when I run gulp in an old installation it works. I've copied over the entire node_modules to the new directory and it works, but this is a manual undesired fix.  Later today I'll compare the two directories and see the diff

[2016-04-04 14:12] makque commented on #93
For bless admins, any verdict on my Pull Request? I've been holding off a feature for our site because of this, I just want to know if any action will be implemented for this fix immediately otherwise I'll push a dirty temp fix for our site to get around this.

Thanks!

@morph3ux - it's probably a version 3 copy of bless, I only encountered this issue when `gulp-bless`, which the plugin I'm using

[2016-04-04 14:22] morph3ux commented on #93
@makque Thanks for your reply! Yeah, you might be right about the version. Let's hope we'll get a fix soon so we don't have to hack our apps to solve the issue. And backup. Always!

[2016-04-04 14:28] makque commented on #93
@makque no worries, I already submitted a PR for the fix, #99, I think he's concerned with the `@page`, just waiting for a reply, for my case I just need a fix for `@charset` 'cause SASS prepends a `@charset` on compile

[2016-04-05 20:14] mtscout6 commented on #93
This should be fixed in v4.0.1

[2016-04-05 20:14] #93 closed

[2016-04-06 08:25] hostep commented on #91
Hi guys

I just tested again using the new version 4.0.1 and the issue remains :(

And now the `count` functionality throws an error:
[code]

Although this might have something to do with the fact that I'm using the LTS version of npm and apparently you stopped supporting this for some reason?
[code]

[2016-04-06 13:54] mtscout6 commented on #91
@hostep you mentioned in #100 that the chunk command is still not working for you. Can you provide more information? I ran it against the `./test/fixtures/input` files and it is working for me.

I'm on Node v4.2.3 and npm v3.7.3, though I wouldn't imagine that those are the problem.

[2016-04-07 17:29] hostep commented on #91
I tested a few of the files inside the `test/fixtures/input` path of the repo, and they are still empty:

[code]

If I can help in some other way, please let me know (although I have no experience whatsoever with developing nodejs applications)

[2016-04-07 17:46] mtscout6 commented on #91
Ok, I'm seeing the issue now. Though for some reason it works on some files:

[code]

I'm not sure of the cause yet though.

[2016-04-07 18:11] hostep commented on #91
I saw that too, if you run it on the entire directory some work, some don't. But if you run it one file at the time, they are all empty. Very strange behavior...

[2016-04-16 16:52] jmfurlott opened #101 "Removed support for piped input?"
After upgrading from 3.0.3 to 4.0.2, I can no longer pipe a generated CSS file into `blessc` using `blessc - <output>`.

I cannot find anything in the documentation that says one way or the other.

[2016-04-17 14:09] mtscout6 commented on #101
That was not a scenarios I accounted for in the 4.0 rewrite. Feel free to submit a pull request if you wish.

[2016-04-18 16:24] DrEnter commented on #98
Can attest to seeing exactly the same issue using grunt-bless 1.0.2 / bless-4.0.2 so I don't think it's a gulp-bless issue.

[2016-04-20 16:20] AaronAsAChimp commented on #98
After profiling it seems to be a bad interaction between Marak/colors.js and reworkcss/css as documented in reworkcss/css#88, a workaround would be to run blessc with the `--no-color` option.

[2016-04-20 21:24] mtscout6 commented on #98
I'm curious how [Chalk](https://www.npmjs.com/package/chalk) would do, it has better cross platform support and doesn't modify the String prototype.

[2016-04-22 08:44] whjvenyl commented on #91
This issue get's resolved if you use fsp.writeFileSync instead of the asyncronous version in chunk.js

[2016-04-25 16:38] MobiusHorizons commented on #98
@mtscout6 sounds like it could help, I may have some time to look at this again, if I do, I'll try that route.

[2016-05-12 13:43] ufairiya opened #102 "Failed: TypeError: Cannot read property 'parseArgs' of undefined"
blessc style.css
Failed: TypeError: Cannot read property 'parseArgs' of undefined
TypeError: Cannot read property 'parseArgs' of undefined
    at parseCliArgs (/usr/local/lib/node_modules/bless/lib/parse-cli-args.js:67:44)
    at cliExeute (/usr/local/lib/node_modules/bless/lib/cli.js:29:42)
    at Object.<anonymous> (/usr/local/lib/node_modules/bless/bin/blessc:7:1)
    at Module._compile (module

[2016-05-18 15:11] jonscottclark commented on #102
The website is outdated.

You must run the following commands:

`$ blessc count style.css` to check your file

or

`$ blessc chunk style.css` to split your file into chunks

[2016-05-18 18:12] jonscottclark commented on #91
I'm getting this issue as well.

Bless v. 4.0.2

Went into the source and made the change that @whjvenyl suggested, and then it worked.

[2016-05-18 18:22] jonscottclark commented on #91
Works when using it with `gulp-bless` which seems to also be getting v. 4.0.2 — Now I am very confused.

[2016-05-20 18:47] Lyquix commented on #91
Having the same issue in 2 different environments:

bless: 4.0.2
npm: 3.9.2
nodejs: 4.4.3
running in git bash terminal in windows

and
bless: 4.0.2
npm: 3.9.2
nodejs: 4.4.4
running in ubuntu 14.04

I get empty files even with suggestion from @jonscottclark on dabbcf5

I have a CSS file with 8379 selectors, built from LESS and passed through PostCSS Autoprefixer. You can find it here: https://gist.

[2016-06-07 07:43] tyaginaitik commented on #102
Hi,
I have use this command but not working, thrown error
example:-
lessc custom-bootstrapadmin.less | blessc chunk  ../../css/appV2admin.css

Can you please help me out.

[2016-06-07 11:43] jonscottclark commented on #102
@tyaginaitik You're trying to pipe the output of lessc to blessc, and I think bless requires a filename as a parameter instead of reading from STDIN. Run this as two commands:

[code]

[2016-06-07 20:52] coffeemug777 commented on #91
I had the same issue.

I tried dabbcf5 and it didn't work.

I managed to fix it by using whjvenyl's suggestion (change  writeFile to writeFileSync) on /usr/local/lib/node_modules/bless/lib/commands/chunk.js

bless: v4.0.2
npm: 3.8.3
node: v5.10.1
Ubuntu 14.04

[2016-06-14 15:41] ianaz opened #103 "Download 3.0.3 with apt-get install"
Hey guys,

I still ned the 3.0.3 version on my VM since there are beaking changes on 4.X.. Is there a way to download the old version with apt-get?

I tried with apt-get install bless=3.0.3 but can't find the package.

Thank you

[2016-06-15 07:22] #103 closed

[2016-06-15 07:22] ianaz commented on #103
git clone https://github.com/BlessCSS/bless.git
git checkout 3.x
cd bless
npm install -g

[2016-06-15 08:21] paulyoung commented on #103
`npm install -g bless@3.0.3` should work.

[2016-06-15 21:13] Lyquix commented on #91
Thanks @coffeemug777 !

I confirm that making the changes in the files `/usr/local/lib/node_modules/bless/lib/commands/chunk.js` (and for Windows, `C:\Users\<Username>\AppData\Roaming\npm\node_modules\bless\lib\commands\chunk.js`) fixes the problem.

[2016-06-16 13:03] mtscout6 commented on #91
The problem with changing it to `writeFileSync` is that you would then be forcing a blocking File IO operation. This will significantly slow down the tool when processing a large folder of css files.

I believe I have found the proper fix as outlined in PR #104 can you all test and confirm?

[2016-06-18 16:31] #91 closed

[2016-06-18 16:33] mtscout6 commented on #91
Fix released in v4.0.3

[2016-06-18 19:06] hostep commented on #91
I can confirm that the issue is fixed in v4.0.3.

Tnx a lot @mtscout6!

[2016-06-20 17:08] gilligan opened #105 "Documentation on API change"
I just reviewed a greenkeeper PR that upgraded bless to the latest version in our project:

[code]

Previously bless was invoked as shown below:

[code]

Could you possibly provide some sort of upgrade documentation that would help to adapt this code to the latest release? That would be great.

[2016-07-07 20:01] pixeldrew opened #107 "Blessc unminifies files"
My output is minified first then I run blessc on the output the resulting css is then expanded.

[2016-07-08 02:26] mtscout6 commented on #107
I'd recommend that you run your minifier after you've run bless. We don't make any efforts to preserve any kind of formatting.

[2016-07-12 16:12] pixeldrew commented on #107
perhaps you could add an option to properly minify? it seems that when I run cssmin it tries to process blessc's import statements.

[2016-08-02 15:33] w0rp commented on #98
I would like to note that this is still an issue if you are using `grunt-bless`. If you try creating a large CSS file which will be split up into three smaller files with `grunt-bless`, and compare the time taken with bless before and after, `grunt-bless@0.2.0` is _much_ faster than `grunt-bless@1.0.2`. Here are some times from my codebase, for each version, including the time taken to start up `g

[2016-08-02 15:58] mtscout6 commented on #98
The update with the change to chalk was in 4.0.4. Are you testing with that version?

[2016-08-02 17:55] w0rp commented on #98
I believe I should be. I cleanly installed from `npm` again and `grunt-bless` seems to be set to `~4.0.0`.

https://github.com/BlessCSS/grunt-bless/blob/master/package.json#L40

[2016-08-02 18:15] AaronAsAChimp commented on #98
You can confirm the version by running:

[code]

If you could also try running `blessc` directly. It should help us narrow in on the issue.

[2016-08-02 18:16] w0rp commented on #98
Sure. I'll find the file I was testing this against a little later and see if I can get a similar speed out of `blessc` directly. Maybe I can also create an example file I can share.

[2016-08-02 21:36] w0rp commented on #98
I was able to run bless on the file via `blessc` directly, and it executed quite quickly. I don't have experience with the NodeJS profiling tools to see where the issue lies, but I believe the issue might actually lie in `grunt-bless`, and not in `bless` itself. It's hard to tell. All I know is, `grunt-bless` on version `0.2.0` executes much more quickly.

I unfortunately probably cannot share the

[2016-08-04 16:39] AaronAsAChimp commented on #98
It appears to be the same culprit, if any dependency brings in colors.js you'll see a degradation of performance. In this case Grunt (via grunt-legacy-log) uses the library.

Unfortunately moving to chalk only mitigates the problem. The responsibility for fixing this issue lies with ReworkCSS.

[2016-09-28 21:20] ericnewton76 commented on #33
~~looks like this is still waiting to be implemented~~

i see that v3.1.10 has sourcemaps support... awesome!

[2016-11-15 13:57] km-tr opened #108 "npm version"
Do not you think that "> = 2.0.0" is better for engines because "npm" is the default "npm" for "Node v4"? Is it?

[2016-11-28 12:22] tofuwarrior commented on #107
Running a minifier after bless is a very clunky workflow.
 Compile less (where you can easily minify) then split into 1 or more files, then minify one or more files. Is it that much of a problem to maintain the minification? Surely the counting of css declarations is much the same so don't you just split the file at the appropriate points? In which case, why not just maintain the original strings

[2016-11-28 13:40] mtscout6 commented on #107
If you want to submit a PR to fix the problem I have no problem with that.

[2017-11-24 12:54] Triloworld opened #109 "Error: property missing ':' when SVG is inline"
Error:

[code]

To reproduce, add this to css:
`filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="50" /></filter></svg>#filter');`

I think, **charset=utf-8** is problem for bless.
It is bug or I cannot add inline SVG when dealing with bless?